<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button routerLink="/home">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title class="text-center">Detail Chat</ion-title>

    </ion-toolbar>
</ion-header>
<ion-content></ion-content>

<ion-footer class="ion-no-border">
    <ion-toolbar style="height: auto;">
        <ion-buttons slot="start">
            <ion-button>
                <ion-icon slot="icon-only" name="add-outline" color="primary"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-textarea autoGrow rows="1" placeholder="message"></ion-textarea>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon slot="icon-only" name="camera-outline" color="primary"></ion-icon>
            </ion-button>
            <ion-button>
                <ion-icon slot="icon-only" name="mic-outline" color="primary"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>